# Place this file in /etc/systemd/system/
# and run "sudo systemctl enable picam.service"

[Unit]
Description=Launches the birdcam
After=network-online.target
Documentation=https://github.com/Zitrax/picam

[Service]
Type=simple
User=pi
Group=pi

ExecStart=/home/pi/git/picam/camera.py